@import "base/*.scss";
@import "global/*.scss";
@import "../components/**/*.scss";
@import "**/_*.scss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.header,
.footer {
  @apply flex flex-row grow-0 shrink-0 basis-auto;
}

.main {
  @apply grow shrink-0 basis-auto;
}

.header-nav-item {
  @apply text-tiny no-underline text-red-light hover:text-black ml-4;
}

.footer-nav-item {
  @apply text-tiny no-underline text-red-extra-light hover:text-white ml-4;
}

.btn-rounded-full {
  @apply bg-red-light hover:bg-red px-8 pt-2 pb-3 text-white text-xl font-normal rounded-3xl;
}

.btn-rounded {
  @apply bg-red-light px-4 pt-2 pb-3 rounded text-white text-base capitalize;
}

.btn-green {
  @apply bg-gradient-to-b from-[#6EBF7C] to-[#488559] px-8 pt-2 pb-3 text-white text-xl font-normal rounded-3xl;
}

.icon-card {
  @apply flex flex-col w-1/3 gap-8 p-8 rounded-lg;
}

/*:root {

}*/

/*html {
  height: 100%;
  overflow-x: hidden;
}

body {
  height: 100%;
}

.header, 
.footer {
  flex: 0 0 auto;
  width: 100%;
}

.main {
  flex: 1 0 auto;
  width: 100vw;
}*/