<div class="bg-gradient-to-r from-[#FED7D2] to-[#FFEFED]">
  <div>
    <div class="container flex flex-row items-center mx-auto 2xl:max-w-[1440px] xl:max-w-[1140px] gap-8">
      <div class="w-1/2">
        <img class="mt-[100px] -mb-[100px]" src="./img/about-us.webp" alt="">
      </div>
      <div class="flex flex-col justify-start w-1/2 gap-4">
        <h3 class="text-6xl text-black">About us</h3>
        <h4 class="text-xl capitalize text-red">Who we are</h4>
        <p class="pb-2 text-red text-tiny">An Idea A few words on how this site was transformed from a dream into reality. The World Wide Web is an excellent place to seek out whatever you need; billions, billions of sites offering something unique to suit everyone's taste. Besides, there are plenty of English sites that offer their version of educational material, English PDF Materials are part of this niche and aims to bring...</p>
        <div class="flex flex-row items-center gap-4">
          <button class="btn-rounded">Contact us</button>
          <a href="#" class="pb-1 text-base font-medium underline capitalize text-red">Read more about us</a>
        </div>
      </div>
    </div>
  </div>
</div>