<div class="w-1/4 flex-grow archive-item">
  <div class="flex flex-col gap-6 archive-item-content">
    <img class="rounded-lg" src="./img/@@img" alt="">
    <div class="flex flex-col gap-4 loop-item-content">
      <div class="flex flex-col gap-2">
        <p class="text-xs text-black date">@@date</p>
        <a href="./article.html" class="text-xl text-black">@@title</a>
        <a href="#" class="text-xs text-red font-bold cat">@@cat</a>
      </div>
      <p class="text-red text-tiny">@@desc</p>
    </div>
  </div>
</div>