<div class="cta">
  <div class="container flex flex-col mx-auto 2xl:max-w-[1440px] xl:max-w-[1140px] py-[100px] gap-16">
    <h2 class="text-center text-black text-7xl">Test Your English Level</h2>
    <div class="flex flex-row items-start justify-center gap-8">
      <div class="flex flex-col w-1/2 gap-8">
        <img class="rounded-lg" src="./img/full-english-level-test.webp" alt="full-english-level-test">
        <div class="flex flex-col items-start gap-4">
          <h3 class="text-5xl text-black">Full English Level Test</h3>
          <p class="pb-2 text-red text-tiny">Welcome to Test your English level (Quick Test) This online test will give you an approximate indication of your English level. Each correct answer will give you 1 point, which...</p>
          <button class="btn-rounded">Get Full English Level Test</button>
        </div>
      </div>
      <div class="flex flex-col w-1/2 gap-8">
        <img class="rounded-lg" src="./img/quick-test.webp" alt="quick-test">
        <div class="flex flex-col items-start gap-4">
          <h3 class="text-5xl text-black">Test Your English Level</h3>
          <p class="pb-2 text-red text-tiny">Welcome to Test your English level (Quick Test) This online test will give you an approximate indication of your English level. Each correct answer will give you 1 point, which...</p>
          <button class="btn-rounded">Get Quick Test</button>
        </div>
      </div>
    </div>
  </div>
</div>