<div class="first-screen bg-gradient-to-r from-[#FED7D2] to-[#FFEFED] h-screen pt-20">
  <div class="bg-[url('/img/first-screen.webp')] bg-cover bg-no-repeat h-full">
    <div class="container flex flex-col items-start justify-center h-full mx-auto 2xl:max-w-[1440px] xl:max-w-[1140px] gap-8">
      <h1 class="font-normal text-7xl w-1/2 text-black">
        Your best source of English teaching material
      </h1>
      <h2 class="font-normal text-red text-5xl">
        English PDF Materials
      </h2>
      <button class="bg-red-light hover:bg-red px-8 pt-2 pb-3 text-white text-xl font-normal rounded-3xl">
        Search PDF
      </button>
    </div>
  </div>
</div>