<div class="first-screen bg-gradient-to-r from-[#FED7D2] to-[#FFEFED] h-screen pt-20">
  <div class="bg-[url('/img/first-screen.webp')] bg-cover bg-no-repeat h-full">
    <div class="container flex flex-col items-start justify-center h-full mx-auto 2xl:max-w-[1440px] xl:max-w-[1140px] gap-8">
      <h1 class="w-1/2 font-normal text-black text-7xl">
        Your best source of English teaching material
      </h1>
      <h2 class="text-5xl font-normal text-red">
        English PDF Materials
      </h2>
      <button class="btn-rounded-full">
        Search PDF
      </button>
    </div>
  </div>
</div>