<div class="flex flex-col items-start gap-10 max-w-full">
  <h3 class="text-black text-7xl">English Blog</h3>
  <div class="flex flex-row flex-wrap w-full gap-8 archive pb-8">
    @@include('bem-blocks/archive-loop-item/archive-loop-item.html', {
      "img":"blog-1.webp",
      "date":"April 4, 2021",
      "title":"How to succeed in FCE Speaking Test: Key tips",
      "cat":"Useful phrases",
      "desc":"This post will help you to understand how to succeed in FCE Speaking Test with valuable key tips. FCE is the First Certificate in English, one of the most...",
    })
    @@include('bem-blocks/archive-loop-item/archive-loop-item.html', {
      "img":"blog-2.webp",
      "date":"February 23, 2021",
      "title":"How to use Phrasal verb ‘BRING’ correctly",
      "cat":"Useful phrases",
      "desc":"This post is dedicated to Phrasal verb ‘BRING’. Phrasal verbs are extremely popular and mostly used in colloquial language. However, some...",
    })
    @@include('bem-blocks/archive-loop-item/archive-loop-item.html', {
      "img":"blog-3.webp",
      "date":"February 15, 2021",
      "title":"Food idioms",
      "cat":"Useful phrases",
      "desc":"Idioms are an integral part of English and if you want to sound natural, it’s essential to learn phrasal verbs....",
    })
    @@include('bem-blocks/archive-loop-item/archive-loop-item.html', {
      "img":"blog-4.webp",
      "date":"January 19, 2021",
      "title":"How to use Phrasal verb ‘GIVE’ correctly",
      "cat":"Useful phrases",
      "desc":"This post is dedicated to Phrasal verb ‘GIVE’. Phrasal verbs are extremely popular and mostly used in colloquial language. However, some...",
    })
    @@include('bem-blocks/archive-loop-item/archive-loop-item.html', {
      "img":"blog-1.webp",
      "date":"March 7, 2021",
      "title":"Spring idioms",
      "cat":"Useful phrases",
      "desc":"Idioms are an integral part of English and if you want to sound natural, it’s essential to learn phrasal verbs",
    })
    @@include('bem-blocks/archive-loop-item/archive-loop-item.html', {
      "img":"blog-2.webp",
      "date":"February 23, 2021",
      "title":"How to use Phrasal verb ‘BRING’ correctly",
      "cat":"Useful phrases",
      "desc":"This post is dedicated to Phrasal verb ‘BRING’. Phrasal verbs are extremely popular and mostly used in colloquial language. However, some...",
    })
    @@include('bem-blocks/archive-loop-item/archive-loop-item.html', {
      "img":"blog-3.webp",
      "date":"February 15, 2021",
      "title":"Food idioms",
      "cat":"Useful phrases",
      "desc":"Idioms are an integral part of English and if you want to sound natural, it’s essential to learn phrasal verbs....",
    })
    @@include('bem-blocks/archive-loop-item/archive-loop-item.html', {
      "img":"blog-4.webp",
      "date":"January 19, 2021",
      "title":"How to use Phrasal verb ‘GIVE’ correctly",
      "cat":"Useful phrases",
      "desc":"This post is dedicated to Phrasal verb ‘GIVE’. Phrasal verbs are extremely popular and mostly used in colloquial language. However, some...",
    })
    @@include('bem-blocks/archive-loop-item/archive-loop-item.html', {
      "img":"blog-4.webp",
      "date":"January 19, 2021",
      "title":"How to use Phrasal verb ‘GIVE’ correctly",
      "cat":"Useful phrases",
      "desc":"This post is dedicated to Phrasal verb ‘GIVE’. Phrasal verbs are extremely popular and mostly used in colloquial language. However, some...",
    })
    @@include('bem-blocks/archive-loop-item/archive-loop-item.html', {
      "img":"blog-4.webp",
      "date":"January 19, 2021",
      "title":"How to use Phrasal verb ‘GIVE’ correctly",
      "cat":"Useful phrases",
      "desc":"This post is dedicated to Phrasal verb ‘GIVE’. Phrasal verbs are extremely popular and mostly used in colloquial language. However, some...",
    })
  </div>
  <div class="pagination flex flex-row gap-8 w-full">
    <a href="#" class="older text-left">Older</a>
    <a href="#" class="next text-right">Next</a>
  </div>
</div>